@use "../theme";

.pokemonList {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon {
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  border: 1px solid theme.$text-color;
  padding: 5px;
  border-radius: 0.25rem;
  background-color: #fcfbf8;
}
