.search {
  background-color: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  width: 140px;
  height: 20px;

  &::placeholder {
    color: lighten(theme.$primary-color, 30%);
  }
}
