@use "../theme";
.search {
  border: none;
  width: 200px;
  height: 25px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;

  &::placeholder {
    color: lighten(theme.$text-color, 40%);
  }
}
