@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgb(246, 197, 199),
    rgb(201, 222, 250),
    rgb(195, 234, 248),
    rgb(211, 248, 199)
  );
  height: 100vh;
  font-family: 'Odibee Sans', cursive;
}
