@use "./theme";
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: radial-gradient(
    circle,
    theme.$primary-color,
    theme.$tertiary-color,
    theme.$secondary-color
  );
  height: 100vh;
  font-family: 'Odibee Sans', cursive;
  font-size: 18px;
}
